In [10]:
import gradio as gr
import pandas as pd
import random

In [11]:
# Load the input CSV file
input_file_path = "input.csv"
input_df = pd.read_csv(input_file_path)

# input_df = input_df.fillna(0)
# input_df = input_df.astype({"response1": str, "response2": str})
input_df.head()

  transaction_narrations  catogery response1  response2
0     narration_sample_1         1       NaN        NaN
1     narration_sample_2         5       dog        NaN
2     narration_sample_3         4      bird        NaN
3     narration_sample_4         3       dog        NaN
4     narration_sample_5         5      bird        NaN

In [12]:
# Create a function to randomly select 10 samples from the input file
def select_samples():
    # Check if there are any samples left in the input file
    if len(input_df) == 0:
        return "No more samples left to label."

    # Randomly select 10 samples from the input file
    try:
        samples = input_df[input_df.isnull().any(axis=1)].sample(n = 10)
    except ValueError:
        samples = input_df
    samples = samples.drop(['response1', 'response2'], axis = 1)
#     print(samples)
    return samples

In [13]:
# select_samples()

In [14]:
def update_labels(samples, input_df):
    print("Samples:")
    print(samples)
    print("input_df before updating:")
    print(input_df)
    for index, row in samples.iterrows():
        
        if input_df.iloc[index, [2]].isnull()[0]:
            input_df.iloc[index, [2]] = row['user_labels']
        else:
            input_df.iloc[index, [3]] = row['user_labels']
            
    print("input_df after updating:")
    print(input_df)
    
    #Seprating narrations that has been labelled twice
    completed_narrations = input_df[~input_df.isnull().any(axis=1)]
    
    #Removing all those narrations that has been labbeled twice
    input_df = input_df[input_df.isnull().any(axis=1)]
    
    #calling storing funtion 
    store_twice_labelled_narrations(completed_narrations)
    
    input_df.to_csv(input_file_path, index=False)

In [15]:
def store_twice_labelled_narrations(completed_narrations):
    print("now in store_twice_labelled_narrations function")
    import os

    # Define the file path
    file_path = "labeled_data.csv"

    # Check if the file already exists
    if not os.path.exists(file_path) and len(completed_narrations) > 0:

        # Save the DataFrame to a CSV file
        labeled_data = completed_narrations
        
        labeled_data.to_csv(file_path, index=False)
        print("CSV file created and completed_narrations stored")

    elif len(pd.read_csv(input_file_path)) > 0 and len(completed_narrations) > 0:
        labeled_data = pd.read_csv(file_path)
        
        #concatinating the data
        labeled_data = pd.concat([labeled_data, completed_narrations], axis=0)
        
        labeled_data.to_csv(file_path, index=False)
        print("completed_narrations merged and stored")

In [16]:
def sentence_builder(*args):
    
    user_labels = [x for x in args]
    samples['user_labels'] = user_labels
    
    update_labels(samples, input_df)
    
    return user_labels


samples = select_samples()
demo = gr.Interface(
    sentence_builder,
    [
        gr.Dropdown(
            ["cat", "dog", "bird"], label=samples.iloc[i, [0]][0], info= "Predicted catogery: "+ samples.iloc[i, [0]][0], 
#             multiselect=True
        ) for i in range(10)
        
    ],
    "text",
)

if __name__ == "__main__":
    demo.launch(debug=True)

Running on local URL:  http://127.0.0.1:7860

To create a public link, set `share=True` in `launch()`.

Samples:
   transaction_narrations  catogery user_labels
6      narration_sample_7         6         cat
11    narration_sample_12         7         dog
3      narration_sample_4         3        bird
0      narration_sample_1         1         cat
4      narration_sample_5         5         dog
9     narration_sample_10         3        bird
2      narration_sample_3         4         cat
13    narration_sample_14         5         dog
12    narration_sample_13         8        bird
7      narration_sample_8         4         cat
input_df before updating:
   transaction_narrations  catogery response1  response2
0      narration_sample_1         1       NaN        NaN
1      narration_sample_2         5       dog        NaN
2      narration_sample_3         4      bird        NaN
3      narration_sample_4         3       dog        NaN
4      narration_sample_5         5      bird        NaN
5      narration_sample_6         9       dog        NaN
6      narration_sample_7         6       NaN        NaN
7      narration_sample_8         4       cat        NaN
8      narration_sample_9         4       cat        NaN
9     narration_sample_10         3       NaN        NaN
10    narration_sample_11         6      bird        NaN
11    narration_sample_12         7       cat        NaN
12    narration_sample_13         8       cat        NaN
13    narration_sample_14         5       NaN        NaN
input_df after updating:
   transaction_narrations  catogery response1 response2
0      narration_sample_1         1       cat       NaN
1      narration_sample_2         5       dog       NaN
2      narration_sample_3         4      bird       cat
3      narration_sample_4         3       dog      bird
4      narration_sample_5         5      bird       dog
5      narration_sample_6         9       dog       NaN
6      narration_sample_7         6       cat       NaN
7      narration_sample_8         4       cat       cat
8      narration_sample_9         4       cat       NaN
9     narration_sample_10         3      bird       NaN
10    narration_sample_11         6      bird       NaN
11    narration_sample_12         7       cat       dog
12    narration_sample_13         8       cat      bird
13    narration_sample_14         5       dog       NaN
now in store_twice_labelled_narrations function
CSV file created and completed_narrations stored
Keyboard interruption in main thread... closing server.

In [ ]:
def update_labels(samples):
    print(samples)
    for index, row in samples.iterrows():
        print(input_df.iloc[index, [2]].isnull()[0])

In [ ]:
input_df.iloc[1, [2]].isnull()[0]

In [17]:
pd.read_csv('input.csv')

  transaction_narrations  catogery response1  response2
0     narration_sample_1         1       cat        NaN
1     narration_sample_2         5       dog        NaN
2     narration_sample_6         9       dog        NaN
3     narration_sample_7         6       cat        NaN
4     narration_sample_9         4       cat        NaN
5    narration_sample_10         3      bird        NaN
6    narration_sample_11         6      bird        NaN
7    narration_sample_14         5       dog        NaN